.logout {
  text-align: center;
  margin-top: 50px;
}
h1 {
  font-weight: 450;
  font-size: 40px;
}
.account-name {
  text-decoration: none;
  color: rgb(112, 185, 112);
}
.button-login {
  border: 1px solid;
  margin-left: 416px;
  padding: 14px 26px;
  border-radius: 6px;
  background-color: rgb(80, 174, 80);
  color: white;
  font-size: 16px;
}
.button-login:hover {
  background-color: rgb(51, 152, 51);
  cursor: pointer;
}
