.header {
  justify-content: space-between;
  display: flex;
  padding: 17px 250px 19px 252px;
}
.header-logo {
  color: rgb(70, 176, 70);
  font-size: 20px;
  font-weight: bold;
}
.header-method {
  text-decoration: none;
}
.header-method a:hover {
  color: red;
}
.header-img {
  width: 11px;
}
