.form-setting {
  text-align: center;
}
.form-setting-url {
  width: 600px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 15px;
}
.form-setting-username {
  width: 600px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.form-setting-bio {
  padding-top: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 600px;
  height: 200px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.form-setting-email {
  width: 600px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.form-setting-password {
  width: 600px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.button-setting {
  border: 1px solid;
  padding: 16px 30px;
  border-radius: 6px;
  background-color: rgb(80, 174, 80);
  color: white;
  font-size: 16px;
}
.button-setting:hover {
  background-color: rgb(51, 152, 51);
  cursor: pointer;
}
.btn-logout {
  border-color: red;
  color: red;
  background-color: white;
  margin-left: 253px;
  padding: 16px 30px;
  border-radius: 4px;
}
.btn-logout:hover {
  cursor: pointer;
  background-color: #b85c5c;
  color: white;
  border: none;
}
